<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
  </article>
  <div class="reviews">
    <% if current_user %>
      <h2>Create a new review</h2>
    <%= form_for([@product, @new_review]) do |form| %>
      <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description, id: :review_description %><br>
        <%= form.label :rating %>
        <%= form.select :rating, ['1', '2', '3', '4', '5']%>
        <%= form.hidden_field :user_id, value: current_user.id %>
      </div>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
    <% else %>
      <p>Please <%= link_to "login", '/login' %> or <%= link_to "sign up", '/signup' %> to create a new review.</p>
    <% end %>

    <% if @product.reviews.empty? %>
      <p>No reviews for this product</p>
    <% else %>
      <%= render @sorted_reviews %>
    <% end %>
  </div>
</section>
